span {
    color: black;
}
.content {
    background-color: rgb(251, 247, 245);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        .title {
            &:hover {
                cursor: pointer;
            }
            margin-left: 20px;
            font-size: x-large;
        }
        .cart {
            &:hover {
                cursor: pointer;
            }
            position: relative;
            margin-right: 30px;
            .items {
                position: absolute;
                top: -10px;
                right: -15px;
                border-radius: 50%;
                background-color: rgb(0, 40, 160);
                width: 20px;
                height: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 12px;
            }
        }
    }

    .products-container {
        width: 100vw;
        display: flex;
        height: auto;
        // overflow: hidden;
        overflow-x: auto;
        padding-bottom: 20px;
        // &::-webkit-scrollbar {
        //     display: none;
        // }

        .item {
            min-width: 25vw;
            margin: 10px;
            &:hover {
                cursor: pointer;
            }

            width: 25vw;
            border-right: none;
            img {
                width: 100%;
            }
            // border: solid black 2px;
            // &:last-child {
            //     border-right: solid black 2px;
            // }
            .infos {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span {
                    margin-top: 20px;
                }
            }
        }
    }
    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 25px;
            .menu-item {
                &:hover {
                    cursor: pointer;
                }
                font-family: "Roboto Mono", monospace;
                color: black;
                margin-bottom: 30px;
            }
        }

        .social {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: flex-end;
            margin-bottom: 20px;
            margin-right: 20px;
            &:hover {
                cursor: pointer;
            }
            img {
                width: 30px;
                margin: 10px;
                color: black;
            }
        }
    }
}