span {
    color: black;
}

label {
    font-family: "Roboto Mono", monospace;
    &:hover {
        cursor: pointer;
    }
    input {
        &:hover {
            cursor: pointer;
        }
    }
}
.content {
    background-color: rgb(251, 247, 245);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        .title {
            &:hover {
                cursor: pointer;
            }
            margin-left: 20px;
            font-size: x-large;
        }
        .cart {
            &:hover {
                cursor: pointer;
            }
            position: relative;
            margin-right: 30px;
            .items {
                position: absolute;
                top: -10px;
                right: -15px;
                border-radius: 50%;
                background-color: rgb(0, 40, 160);
                width: 20px;
                height: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 12px;
            }
        }
    }

    .products-container {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        overflow: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            width: 100%;
            border: solid black 1px;
            margin-bottom: 10px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .preview {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    max-width: 200px;
                }
                .infos {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span {
                        margin: 20px;
                    }
                }
            }

            .end {
                display: flex;
                flex-direction: row;
                align-items: center;

                .actions {
                    margin-right: 30px;
                    button {
                        margin: 10px;
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 25px;
            .menu-item {
                &:hover {
                    cursor: pointer;
                }
                font-family: "Roboto Mono", monospace;
                color: black;
                margin-bottom: 30px;
            }
        }

        .resume {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span {
                font-family: "Roboto Mono", monospace;
                margin: 20px;
            }

            div {
                margin: 20px;
            }

            .checkout {
                &:hover {
                    cursor: pointer;
                }
                background-color: rgb(0, 40, 160);
                padding: 5px;
                border: none;
                outline: none;
                width: 230px;
                height: 50px;
                font-family: "Roboto Mono", monospace;
                color: white;
            }

            .continue {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .social {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: flex-end;
            margin-bottom: 20px;
            margin-right: 20px;
            &:hover {
                cursor: pointer;
            }
            img {
                width: 30px;
                margin: 10px;
                color: black;
            }
        }
    }
}
