/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

span {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.items {
    font-family: 'Roboto Mono', monospace;
}